.search-input-container {
  width: 100%;
  padding: 5%;
  margin: auto;
}
.search-input {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
    -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -o-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0s;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    border-radius: .4rem;
    font-size: 1.4rem;
    height: 3.8rem;
    padding: 0.8rem;
    padding-left: 0;
    background: rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.001), 0 0 0 0 rgba(0, 0, 0, 0.001);
    display: flex;
    position: relative;
    input {
        padding-left: 4.7rem;
        height: 20px;
        line-height: 20px;
        margin: 10px 0;
        font-size: 14px;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        outline: none;
        background: transparent;
        width: 100%;
        padding: 0 15px;
        -moz-transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        -o-transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        -webkit-transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        -webkit-transition-delay: 0s;
        transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
        color: #000;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0%;
        flex: 1 1 0%;
        box-sizing: border-box;
        min-width: 0;
    -webkit-appearance: textfield;
    font-family: Lato, Roboto, sans-serif;
    }
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
    &.search-input-focused {
        color: #000;
        background: #fff !important;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  }
  .search-btn-left {
    margin-left: 12px;
    padding: 8px;
  }
}