<h2 matDialogTitle>Code View</h2>
<mat-dialog-content>
  <pre><code id="code" class="json">{{feed | json }}</code></pre>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" matDialogClose>Close</button>
</mat-dialog-actions>
