<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Click on this panel to reveal/hide content</mat-panel-title>
  </mat-expansion-panel-header>
  <div [innerHTML]="html"></div>
</mat-expansion-panel>