<h2 matDialogTitle>RSS Options</h2>
<mat-dialog-content>
<mat-form-field>
  <input type="number" min="1" max="100" matInput placeholder="Max number of posts" [(ngModel)]="options.amount">
</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>