<h2 matDialogTitle>About This App</h2>
<mat-dialog-content>
  <div class="about-version-container">
    <h3 style="margin: 0">RSS Reader</h3>
    <strong>
      <small>Version 1.3.0</small>
    </strong>
  </div>
  <p>This RSS reader app is made by Eugene which is based on a fork of the original source code by BeCompany.</p>
  <p>The forked repository is available
    <a href="https://github.com/becompany/angular2-rss-reader-tutorial" target="_blank">here</a> and my version is
    available
    <a href="https://gitlab.com/eugenekyselev/rss-reader" target="_blank">here</a>.</p>
  <p>This repository also uses
    <a href="https://angular.io">Angular</a> and
    <a href="https://material.angular.io">Angular Material</a> which are ©Google 2017. All rights reserved.</p>
  <p>Social icons in Share dialog are from
    <a href="https://materialdesignicons.com">MaterialDesignIcons</a>. All other icons are from
    <a href="https://google.github.io/material-design-icons">Google's Material Icons</a>.</p>
  <a href="https://gitlab.com/eugenekyselev" title="Follow me on Gitlab!" target="_blank">

<mat-dialog-actions>
  <a mat-button href="https://gitlab.com/eugenekyselev/rss-reader" color="accent">
    <mat-icon>code</mat-icon>
    View source code
  </a>
  <span fxFlex></span>
  <button mat-button matDialogClose color="primary">Dismiss</button>
</mat-dialog-actions>
