<ng-container *ngIf="headline && !feed">
  <mat-card class="feed-card">
    <mat-card-header>
      <mat-card-title *ngIf="headline?.author || headline?.source">
        <!-- Show the author by default -->
        <span *ngIf="headline?.author">{{headline?.author}}</span>
        <!-- Otherwise, show the headline's source -->
        <span *ngIf="headline?.source && !headline?.author">{{headline?.source?.name}}</span>
      </mat-card-title>
      <mat-card-subtitle *ngIf="headline?.publishedAt">{{headline?.publishedAt | date:'short'}}</mat-card-subtitle>
      <span fxFlex></span>
      <button mat-icon-button [matMenuTriggerFor]="feedMenu">
        <mat-icon class="icon">more_vert</mat-icon>
      </button>
      <mat-menu #feedMenu="matMenu">
        <button mat-menu-item (click)="showCode(headline)">
          <mat-icon>code</mat-icon> Show code
        </button>
      </mat-menu>
    </mat-card-header>
    <img mat-card-image *ngIf="headline?.urlToImage && hasImage" [src]="headline?.urlToImage">
    <mat-card-title class="feed-title" *ngIf="headline?.title">{{headline?.title}}</mat-card-title>
    <mat-card-content *ngIf="headline?.description || headline?.content">
      <p *ngIf="headline?.description">{{headline?.description | slice:0:300}}&#8230;</p>
      <p *ngIf="headline?.content && !headline?.description">{{headline?.content | slice:0:260}}</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <!-- <button mat-button (click)="viewInDialog(feed)" aria-label="View current post in a dialog" color="primary">View in dialog <mat-icon>open_in_browser</mat-icon></button> -->
      <button mat-icon-button (click)="share(headline)" matTooltip="Share post" color="primary" aria-label="Share post">
        <mat-icon>share</mat-icon>
      </button>
      <!-- <button mat-icon-button matTooltip="Add to read later"><mat-icon>bookmark_border</mat-icon></button> -->
      <a mat-icon-button [href]="headline?.url" [target]="target" color="primary" aria-label="View post" matTooltip="View post">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</ng-container>
<ng-container *ngIf="feed && !headline">
  <mat-card class="feed-card">
    <mat-card-header>
      <mat-card-title *ngIf="feed?.author">{{feed?.author}}</mat-card-title>
      <mat-card-subtitle *ngIf="feed?.pubDate">{{feed?.pubDate | date:'short'}}</mat-card-subtitle>
      <span fxFlex></span>
      <button mat-icon-button [matMenuTriggerFor]="feedMenu">
        <mat-icon class="icon">more_vert</mat-icon>
      </button>
      <mat-menu #feedMenu="matMenu">
        <button mat-menu-item (click)="showCode(feed)">
          <mat-icon>code</mat-icon> Show code
        </button>
      </mat-menu>
    </mat-card-header>
    <img mat-card-image *ngIf="feed?.thumbnail && hasImage" [src]="imageSrc">
    <mat-card-title class="feed-title">{{feed?.title}}</mat-card-title>
    <mat-card-content>
      <p>{{feed?.description | stripHtmlTags | slice:0:300}}&#8230;</p>
      <mat-chip-list *ngIf="feed?.categories.length != undefined">
        <mat-chip *ngFor="let category of feed?.categories" [innerHTML]="category"></mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <!-- <button mat-button (click)="viewInDialog(feed)" aria-label="View current post in a dialog" color="primary">View in dialog <mat-icon>open_in_browser</mat-icon></button> -->
      <button mat-icon-button (click)="share(feed)" matTooltip="Share post" color="primary" aria-label="Share post">
        <mat-icon>share</mat-icon>
      </button>
      <!-- <button mat-icon-button matTooltip="Add to read later"><mat-icon>bookmark_border</mat-icon></button> -->
      <a mat-icon-button [href]="feed?.link" [target]="target" color="primary" aria-label="View post" matTooltip="View post">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</ng-container>
