<h2 matDialogTitle>Share "{{feed.title | slice:0:100}}":</h2>
<mat-dialog-content fxLayout="column" style="min-width: fit-content">
  <mat-form-field>
    <input matInput readonly [(ngModel)]="url" placeholder="Share URL" (click)="$event.target.select()" matTooltip="Click to select and copy">
  </mat-form-field>
  <p>OR:</p>
  <div class="share-btns" style="min-width: 150px">
    <mat-grid-list cols="2">
      <mat-grid-tile matRipple matRippleColor="rgba(164, 198, 57, 0.3)" class="share-tile android-btn" (click)="shareNative()">
        <div class="share-div">
          <mat-icon class="share-icon">share</mat-icon>
          <h3>Android</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile matRipple matRippleColor="rgba(59, 89, 152, 0.3)" class="share-tile facebook-btn" (click)="shareToFacebook()">
        <div class="share-div">
          <mat-icon class="share-icon svg-icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor">
              <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"
              />
            </svg>
          </mat-icon>
          <h3>Facebook</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile matRipple matRippleColor="rgba(0, 172, 237, 0.3)" class="share-tile twitter-btn" (click)="shareToTwitter()">
        <div class="share-div">
          <mat-icon class="share-icon svg-icon">
            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor">
              <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z"
              />
            </svg>
          </mat-icon>
          <h3>Test</h3>
        </div>
      </mat-grid-tile>
      <mat-grid-tile matRipple matRippleColor="rgba(211, 72, 54, 0.3)" class="share-tile google-plus-btn" (click)="shareToGooglePlus()">
        <div class="share-div">
          <mat-icon class="share-icon svg-icon">
              <svg width="24px" height="24px" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M23,11H21V9H19V11H17V13H19V15H21V13H23M8,11V13.4H12C11.8,14.4 10.8,16.4 8,16.4C5.6,16.4 3.7,14.4 3.7,12C3.7,9.6 5.6,7.6 8,7.6C9.4,7.6 10.3,8.2 10.8,8.7L12.7,6.9C11.5,5.7 9.9,5 8,5C4.1,5 1,8.1 1,12C1,15.9 4.1,19 8,19C12,19 14.7,16.2 14.7,12.2C14.7,11.7 14.7,11.4 14.6,11H8Z"
                  />
                </svg>
          </mat-icon>
          <h3>Google+</h3>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="dismiss()">Dismiss</button>
</mat-dialog-actions>