<h2 matDialogTitle>RSS Url</h2>
<mat-dialog-content fxLayout="column">
  <form [formGroup]="rssFeedForm" fxLayout="column">
    <p>Select from one of the options or enter a RSS feed url:</p>
    <mat-form-field color="accent">
      <input placeholder="RSS feed" aria-label="RSS feed" matInput [matAutocomplete]="rssFeedAuto" formControlName="feedUrl">
      <mat-autocomplete #rssFeedAuto="matAutocomplete">
        <mat-optgroup [label]="feed.categoryName" *ngFor="let feed of filteredOptions | async">
          <mat-option *ngFor="let channel of feed.channels" [value]="channel.feedUrl" class="autocomplete-option">
            <span>{{channel?.feedName}}</span> |
            <span>{{channel?.feedUrl}}</span>
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-checkbox formControlName="publishFeedUrl">Publish Feed URL</mat-checkbox>
    <mat-form-field *ngIf="rssFeedForm.get('publishFeedUrl').value">
      <input matInput placeholder="RSS Channel" formControlName="feedUrlChannel">
    </mat-form-field>
    <mat-form-field *ngIf="rssFeedForm.get('publishFeedUrl').value">
      <mat-select formControlName="feedCategory" placeholder="Feed category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="API Key" value="m22rjkmll65nssgzckywec34srdnqhtuq20rqqqp" formControlName="apiKey">
      <mat-error>This is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" matDialogClose="cancel">Cancel</button>
  <button mat-button color="primary" matDialogClose="save" [disabled]="rssFeedForm.invalid">Save</button>
</mat-dialog-actions>
