@import 'hljs';
// Dedicated file for theming the app
@mixin rss-reader-theme($theme) {
  @include tables-theme($theme);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark-theme: map-get($theme, is-dark); // Check if the theme is dark
  @if ($is-dark-theme) {
    // Apply highlight.js dark styles available in _hljs.scss
    @include hljs-dark();
  }
  @else {
    // Apply highlight.js light styles available in _hljs.scss
    @include hljs-light();
  } // Shows the current link. Used in the sidenav
  .active-link {
    // Since it's a bit hard to actually see the text in the dark theme, it'll use the accent color if it's dark and primary if it's not. Same applies for mat-icon
    color: if($is-dark-theme, mat-color($accent), mat-color($primary)) !important;
    mat-icon {
      color: if($is-dark-theme, mat-color($accent), mat-color($primary)) !important;
    } // Note: These colors are based on the Android sidenav selection state
    background-color: if($is-dark-theme, #595959, #DCDCDC) !important;
  } // Warning icon color
  .warning-icon {
    color: mat-color($warn) !important;
  } // WIP page icon
  .build-icon {
    color: mat-color($accent) !important;
  } // Anchor links
  .docs-a,
  .docs-anchor {
    color: mat-color($primary) !important;
  }
  .mat-list-item-content mat-icon,
  .icon {
    color: map-get($foreground, icon);
  }
  .onboarding-content {
    color: if($is-dark-theme, #FFF, #000);
  }
  .onboarding-card {
    background-color: if($is-dark-theme, #303030, #FAFAFA);
  }
  .indicator-active {
    background-color: mat-color($accent) !important;
  }
  .indicator {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

// Mixin from material docs site
@mixin tables-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $tableBorderOpacity: if($is-dark-theme, 0.08, 0.03);
  table {
    color: mat-color($foreground, text);
  }
  th {
    background: mat-color($background, app-bar);
  }
  td {
    border: 1px solid rgba(mat-color($foreground, secondary-text), $tableBorderOpacity);
  }
}
