<p *ngIf="getStarted">Select an RSS from the menu icon > select RSS to start.</p>
<div class="start" *ngIf="isRefreshing">
  <p>{{refreshStatus}}</p>
  <mat-spinner class="start-indicator"></mat-spinner>
  <button mat-button [matMenuTriggerFor]="moreMenu" *ngIf="hasError">Options
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu [overlapTrigger]="false" #moreMenu="matMenu">
    <button mat-menu-item (click)="reload()">
      <mat-icon>refresh</mat-icon>Reload page</button>
    <button mat-menu-item (click)="refreshFeed()">
      <mat-icon>sync</mat-icon>Refresh feed</button>
    <button mat-menu-item (click)="selectRss()">
      <mat-icon>rss_feed</mat-icon> Reselect RSS</button>
  </mat-menu>
</div>
<div class="rss-reader-cards-container">
  <app-feed-card [feed]="feed" *ngFor="let feed of feeds" class="rss-reader-card"></app-feed-card>
</div>
